.admin-settings-banner {
    border: 0;
    width: 300px;
    opacity: 0.4;
}

.github-card-banner-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
}

.github-card-admin .github-card-admin-heading {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: 'Alliance No.1', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.github-card-admin {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
}

.github-card-admin .gc-section {
    background: #fff;
    padding: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    margin-bottom: 25px;
}

.github-card-admin .gc-label {
    display: block;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 5px;
}

.github-card-admin .gc-radio-row label {
    margin-right: 20px;
}

.gc-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.gc-switch input {
    display: none;
}

.gc-switch span {
    position: absolute;
    cursor: pointer;
    background: #ccc;
    border-radius: 25px;
    top: 0; left: 0;
    width: 100%; height: 100%;
    transition: 0.3s;
}

.gc-switch span:before {
    content: "";
    position: absolute;
    width: 21px; height: 21px;
    border-radius: 50%;
    background: #fff;
    top: 2px; left: 2px;
    transition: 0.3s;
}

.gc-switch input:checked + span {
    background: #2271b1;
}

.gc-switch input:checked + span:before {
    transform: translateX(25px);
}

.gc-conditional {
    padding-left: 15px;
    border-left: 3px solid #eee;
    margin-top: 15px;
    display: none;
}






















input[type=checkbox].peer:checked + div {
    background-color: #141414;
}
input[type=checkbox].peer + div + span.peer-checked {
    position: absolute;
}
input[type=checkbox].peer:checked + div + span.peer-checked {
    transform: translateX(16px);
}
.save-github-card-settings {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #141414;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}
.github-card-admin .checkbox-label {
    cursor: pointer;
}
.github-card-admin .checkbox-label > div.peer-checked {
    box-shadow: 0 1px 4px 2px #00000021
}
.save-github-card-settings:hover {
    background-color: rgb(59, 59, 59);
}