.github-card-admin-page {
    background-color: #dfe3eb;
}


.admin-settings-banner {
    border: 0;
    width: 300px;
    opacity: 0.4;
}

.github-card-banner-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
}

.github-card-admin .github-card-admin-heading {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: 'Alliance No.1', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.github-card-admin {
    padding: 20px;
    border-radius: 8px;
}

.github-card-admin .gc-section {
    background: #fff;
    padding: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    margin-bottom: 25px;
}

.github-card-admin .gc-label {
    display: block;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 5px;
}

.github-card-admin .gc-radio-row label {
    margin-right: 20px;
}

.gc-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.gc-switch input {
    display: none;
}

.gc-switch span {
    position: absolute;
    cursor: pointer;
    background: #ccc;
    border-radius: 25px;
    top: 0; left: 0;
    width: 100%; height: 100%;
    transition: 0.3s;
}

.gc-switch span:before {
    content: "";
    position: absolute;
    width: 21px; height: 21px;
    border-radius: 50%;
    background: #fff;
    top: 2px; left: 2px;
    transition: 0.3s;
}

.gc-switch input:checked + span {
    background: #2271b1;
}

.gc-switch input:checked + span:before {
    transform: translateX(25px);
}

.gc-conditional {
    padding-left: 15px;
    border-left: 3px solid #eee;
    margin-top: 15px;
}






















input[type=checkbox].peer:checked + div {
    background-color: #141414;
}
input[type=checkbox].peer + div + span.peer-checked {
    position: absolute;
}
input[type=checkbox].peer:checked + div + span.peer-checked {
    transform: translateX(16px);
}
.save-github-card-settings,
.reset-github-card-settings {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #141414;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}
.save-github-card-settings:hover {
    background-color: rgb(59, 59, 59);
}


.reset-github-card-settings {
    background-color: #fff;
    color: #ff0000;
    border: 1px solid #ff0000;
}
.reset-github-card-settings:not([disabled]):hover {
    background-color: #ff0000;
    color: #fff;
}
.reset-github-card-settings:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.github-card-admin .checkbox-label {
    cursor: pointer;
}
.github-card-admin .checkbox-label > div.peer-checked {
    box-shadow: 0 1px 4px 2px #00000021
}




.github-card-admin input[type=radio]:checked::before {
    border-color: #000000;
    background-color: #000000;
}
.github-card-admin input[type=radio]:focus {
    border-color: #000000;
    box-shadow: 0 0 0 1px #000000;
    outline: 2px solid transparent;
}
.github-card-admin .github_card_spinner .options {}
.github-card-admin .github_card_spinner .options {}
.github-card-admin .github_card_spinner .options input[type=radio] {
    position: absolute;
    opacity: 0;
    margin: 0;
    border: 0;
}
.github-card-admin .github_card_spinner .options label {}
.github-card-admin .github_card_spinner .options span {
    height: 24px;
    width: 24px;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: 0.3s;
    border: 1px solid #e5e7eb;
    cursor: pointer;
    box-shadow: 0 1px 4px 2px #00000010;
}
.github-card-admin .github_card_spinner .options input[type=radio]:not(:checked) + span:hover {
    box-shadow: 0 1px 4px 2px #00000021;
}
.github-card-admin .github_card_spinner .options input[type=radio]:checked + span {
    background: #000000;
    color: #ffffff;
}




.github-card-admin input[type=text],
.github-card-admin input[type=number],
.github-card-admin select {
    transition: 0.05s;
    color: #000000;
    border-color: #000000;
}
.github-card-admin input[type=text]:focus,
.github-card-admin input[type=number]:focus,
.github-card-admin select:focus {
    outline: none;
    box-shadow: none;
    color: #000000;
    border-color: #000000;
}
.github-card-admin input[type=text]:focus-visible,
.github-card-admin input[type=number]:focus-visible,
.github-card-admin select:focus-visible {
    outline: none;
    color: #000000;
    border-color: #000000;
    box-shadow: 0 0 0 1px #000000;
}
.github-card-admin input[type=text]:hover,
.github-card-admin input[type=number]:hover,
.github-card-admin select:hover {
    box-shadow: 0 0 0 1px #00000025;
    color: #000000;
    border-color: #000000;
}
.github-card-admin input[type=text]:disabled,
.github-card-admin input[type=number]:disabled,
.github-card-admin select:disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
}
.github-card-admin input[type=text]::placeholder,
.github-card-admin input[type=number]::placeholder,
.github-card-admin select::placeholder {
    color: #a0a0a0;
}




/* 
* WordPress Color Picker Styles
*/
.github-card-admin .wp-picker-container {
    position: relative;
}
.github-card-admin .wp-picker-container .wp-color-result.button {
    border: 0;
}
.github-card-admin .wp-picker-container .wp-color-result.button:hover {
    
}
.github-card-admin .wp-picker-container .wp-color-result.button:focus {
    outline: 2px solid #000000;
}
.github-card-admin .wp-picker-container .wp-color-result.button:focus-visible {
    outline: 2px solid #000000;
}
.github-card-admin .wp-picker-container .wp-color-result-text {
    border-right-width: 0;
    width: calc(100% - 1px);
}
.github-card-admin .wp-picker-holder {
    position: absolute;
    z-index: 5;
    top: 30px;
}
.github-card-admin .wp-picker-holder .iris-picker {
    box-shadow: 0 4px 8px 0 #00000020;
}
.github-card-admin .wp-picker-clear {
    color: #000000;
    border-color: #000000;
    background-color: #eeeeee;
    transition: 0.2s;
}
.github-card-admin .wp-picker-clear:hover {
    color: #ff0000;
    border-color: #ff0000;
    background-color: #ffffff;
}




























.min-h-32px {
    min-height: 32px;
}











/* Tooltip wrapper needs this */
.tooltip-wrapper {
    position: relative;
    overflow: visible;
    z-index: 1;
}

/* Tooltip container */
.github-card-tooltip {
    position: relative;
    display: inline-block;
    z-index: 100;
}

/* Tooltip text bubble */
.github-card-tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    left: calc(50% + 15px);
    bottom: calc(100% + 20px);
    transform: translateX(-50%);
    background: var(--tooltip-bg-color);
    color: var(--tooltip-text-color);
    padding: var(--tooltip-padding);
    font-size: var(--tooltip-font-size);
    border-radius: var(--tooltip-border-radius);
    pointer-events: none;
    transition: opacity 0.2s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
    min-width: 300px;
    max-width: 500px;
    white-space: normal;
    text-align: center;
}

/* Tooltip arrow */
.github-card-tooltip::before {
    content: "";
    position: absolute;
    left: calc(50% + 15px);
    bottom: calc(100% + 9px);
    transform: translateX(-50%);
    border-width: var(--tooltip-arrow-size);
    border-style: solid;
    border-color: var(--tooltip-bg-color) transparent transparent transparent;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease;
    z-index: 9999;
}

/* Show tooltip on hover */
.tooltip-wrapper:hover .github-card-tooltip::after,
.tooltip-wrapper:hover .github-card-tooltip::before {
    opacity: 1;
    visibility: visible;
}
