@font-face {
    font-family: 'Alliance No.1';
    src: url('../fonts/Alliance No.1/AllianceNo1-RegularItalic.woff2') format('woff2'),
        url('../fonts/Alliance No.1/AllianceNo1-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance No.1';
    src: url('../fonts/Alliance No.1/AllianceNo1-RegularItalic.woff2') format('woff2'),
        url('../fonts/Alliance No.1/AllianceNo1-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance No.1';
    src: url('../fonts/Alliance No.1/AllianceNo1-BoldItalic.woff2') format('woff2'),
        url('../fonts/Alliance No.1/AllianceNo1-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance No.1';
    src: url('../fonts/Alliance No.1/AllianceNo1-BoldItalic.woff2') format('woff2'),
        url('../fonts/Alliance No.1/AllianceNo1-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance No.1';
    src: url('../fonts/Alliance No.1/AllianceNo1-Medium.woff2') format('woff2'),
        url('../fonts/Alliance No.1/AllianceNo1-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance No.1';
    src: url('../fonts/Alliance No.1/AllianceNo1-Medium.woff2') format('woff2'),
        url('../fonts/Alliance No.1/AllianceNo1-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance No.1';
    src: url('../fonts/Alliance No.1/AllianceNo1-Regular.woff2') format('woff2'),
        url('../fonts/Alliance No.1/AllianceNo1-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance No.1';
    src: url('../fonts/Alliance No.1/AllianceNo1-Regular.woff2') format('woff2'),
        url('../fonts/Alliance No.1/AllianceNo1-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance No.1';
    src: url('../fonts/Alliance No.1/AllianceNo1-SemiBold.woff2') format('woff2'),
        url('../fonts/Alliance No.1/AllianceNo1-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance No.1';
    src: url('../fonts/Alliance No.1/AllianceNo1-SemiBold.woff2') format('woff2'),
        url('../fonts/Alliance No.1/AllianceNo1-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance No.1';
    src: url('../fonts/Alliance No.1/AllianceNo1-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Alliance No.1/AllianceNo1-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance No.1';
    src: url('../fonts/Alliance No.1/AllianceNo1-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Alliance No.1/AllianceNo1-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance No.1';
    src: url('../fonts/Alliance No.1/AllianceNo1-Bold.woff2') format('woff2'),
        url('../fonts/Alliance No.1/AllianceNo1-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance No.1';
    src: url('../fonts/Alliance No.1/AllianceNo1-Bold.woff2') format('woff2'),
        url('../fonts/Alliance No.1/AllianceNo1-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance No.1';
    src: url('../fonts/Alliance No.1/AllianceNo1-MediumItalic.woff2') format('woff2'),
        url('../fonts/Alliance No.1/AllianceNo1-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance No.1';
    src: url('../fonts/Alliance No.1/AllianceNo1-MediumItalic.woff2') format('woff2'),
        url('../fonts/Alliance No.1/AllianceNo1-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

