.github-card {
    font-family: 'Alliance No.1', sans-serif;
    width: 1200px;
    height: 600px;
    aspect-ratio: 12 / 6;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.github-card-header {
    padding: 80px 80px 0;
}
.github-card-header,
.github-card-footer-wrapper {
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 145px;
    align-items: stretch;
}
.github-card-title {
    display: flex;
    flex-direction: column;
    gap: 34px;
}
.github-card-title,
.github-card-stats {
    flex: 1;
}

.github-card-title h3 {
    margin: 0;
    font-size: 60px;
    color: #2f363d;
    margin-top: 4px;
}

.github-card-title h3 strong {
    margin-left: -3px;;
}

.github-card-title p {
    font-size: 28px;
    color: #6e7681;
    margin: 0;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.github-card-title p.error {
    font-size: 18px;
    -webkit-line-clamp: 6;
    font-weight: 400;
}

.github-card-user,
.github-card-badges {
    width: 200px;

}

.github-card-header .github-card-avatar {
    position: relative;
}

.github-card-header .github-card-avatar img {
    width: 100%;
    height: auto;
    border-radius: 25px;
    object-fit: cover;
}


.avatar-preloader {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center; 
    top: 0;
    font-size: 45px;
    color: #8492b0;
}

.github-card-footer {
    display: flex;
    flex-direction: column;
}
.github-card-footer-wrapper {
    padding: 0 80px 50px;
    flex: 1;
}

.github-card-stats {
    display: flex;
    /* justify-content: space-between; */
    /* padding-right: 40px; */
    gap: 43px;
}

.github-card-stat {
    display: inline-flex;
    gap: 11px;
    text-align: center;
    font-size: 22px;
}

.github-card-stat i {
    display: block;
    font-size: 30px;
    color: #6e7681;
}

.github-card-stat .count {
    font-weight: 500;
    font-size: 30px;
    color: #2f363d;
}

.github-card-stat-text {
    display: inline-flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
    line-height: 1;
    color: #6e7681;
}


.github-card-badges {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.github-card-badges > *,
.github-card-badges a,
.github-card-badges a:hover {
    color: #8492af;
}

.github-card-badges i {
    font-size: 46px;
}


.language-ribbon {
    height: 24px;
    min-height: 24px;
    background: #8492af;
}

.ribbon-space {
    height: 24px;
    min-height: 24px;
    background: transparent;
}









.-mr-5{
    margin-right: -5px;
}

.ml-10{
    margin-left: 10px;
}

.ml-12 {
    margin-left: 12px;
}




.github-card-wrapper-preloader {
    position: absolute;
    z-index: 1;
    background: rgba(255, 255, 255, 0.26);
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    color: #8492b0;
}















/* Skeleton */
.skeleton-heading, .skeleton-description, .skeleton-avatar, .skeleton-counts, .skeleton-ribbon {
    background-color: #e2e5e7;
    border-radius: 4px; 
    margin: 5px 0;
    animation: loading-shimmer 1.5s infinite linear;
    background: linear-gradient(to right, #e2e5e7 8%, #f2f2f2 18%, #e2e5e7 33%);
    background-size: 1000px 100%; 
}
/* Shimmer Animation */
@keyframes loading-shimmer {
    0% { background-position: -1000px 0; }
    100% { background-position: 1000px 0; }
}